In [3]:
import pandas as pd

df1=pd.read_csv(r"C:\Users\Dileep Sathya\OneDrive\Desktop\MLOPS\first_end_to_end_ML\artifacts\feature_engineering\scaled_data\scaled_train.csv")
df2=pd.read_csv(r"C:\Users\Dileep Sathya\OneDrive\Desktop\MLOPS\first_end_to_end_ML\artifacts\feature_engineering\scaled_data\scaled_test.csv")
df=pd.concat([df1,df2])
df.head()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,credit_score,previous_loan_defaults_on_file,loan_status
0,0.052632,0.0,1.00,0.026201,0.000000,1.000000,1.000000,0.8,0.727023,0.742424,0.457219,0.0,1
1,0.026316,0.0,0.75,0.001754,0.000000,0.666667,0.014493,0.2,0.392318,0.121212,0.304813,1.0,0
2,0.131579,0.0,0.75,0.001818,0.100000,0.000000,0.144928,0.6,0.510974,0.666667,0.655080,0.0,1
3,0.078947,0.0,0.25,0.029399,0.000000,1.000000,1.000000,0.6,0.672840,0.666667,0.762032,0.0,1
4,0.105263,1.0,1.00,0.023819,0.033333,1.000000,1.000000,0.6,0.606996,0.803030,0.524064,0.0,1

In [8]:
from sklearn.model_selection import train_test_split
def tts(stat):
    train,test=train_test_split(df,test_size=0.2,shuffle=stat)

    print(test.shape,train.shape)

tts(False)

(8954, 13) (35814, 13)